@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');

body{
	margin: 0;
    font-family: sans-serif;
    
    background-color: #acbcc9;
}

.body form{
color: #555;
}

.box{
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.527);
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255);
	padding: 0px 35px 30px 35px;
}

.container{
	margin: 15px 0;
	padding: 0;
	text-align: center;
}

#titulo{
	color:rgb(83, 80, 80);	
    font-size: 15px;
    position:relative;
    text-align: center;
}

.input-container{
    margin: 0 auto;
	align-content: center;
}

input{
    border-color: rgb(233, 229, 229);
	width: 100%;
}

.input-group-text{
	background: none;
	border-left: 0;
}



#gustos{
	border-color: green;
	color: green;
}

#gustos:hover{
	background-color: green;
	color: white;
}

.columna-green{
	background-color: blue;
}